@media screen and (max-width: 600px) {
        .card-content {
            grid-template-columns: 1fr; /* Ändert das Layout für kleine Bildschirme */
            grid-template-rows: auto;
            width: 100%;
        }
    }