:root {
    --dark-color: #181818;
    --background-color: #F1F1EA;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


header {
    background-color: rgba(255, 255, 255, 0.7);
    height: 60px;
    width: 100vw;
    font-size: 20px;
    position: fixed;
    text-align: right;

}

h1 {
    font-size: 27px;
    margin: 1rem;
    font-family: "Inter", sans-serif;
    text-align: center;
    position: fixed;
    z-index: 1;
}

button {
    position: fixed;
    font-size: 15px; /* Schriftgröße im Button */
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    stroke: none;
    right: 1%;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    stroke: none;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(86, 86, 86);
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 Spalten */
    grid-template-rows: repeat(8, 1fr);
    /* 8 Zeilen */
    padding: 1rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #DB5151, #84F375, #F1B05F, #65B0E1, #4D4C9F, #7A624D, #8C4EBC, #E3D77A);
}

main {
    display: grid;
    grid-template-columns: 70px 1fr;
    /* Erstes Element im HTML (aside) Breite hier festlegen */
    height: 100vw;
    padding-top: 60px;
}

aside {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr;
    /* Eine Spalte */
    background: linear-gradient(to bottom, #f78a8a, #b0f4a7, #e8c8a1, #a1d0ef, #bcbbf7, #b8b0aa, #d1a6f1, #f3edbb);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: black;
}

.group-name {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    /* Vertikale Zentrierung innerhalb der Zeile */
    justify-content: center;
    /* Horizontale Zentrierung innerhalb der Zeile */
}

.card-number,
.stat-icon,
.stat-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    background-color: var(--dark-color);
    padding: .8rem;
    margin: 0.5rem;
    aspect-ratio: 1 / 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrapper:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5);
    /* Weißes Leuchten */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-content {
    aspect-ratio: 1 / 1.5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: var(--background-color);
    border-radius: .7rem;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

.card-number {
    background-color: green;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
}

.card-title {
    grid-column: span 3;
    text-transform: uppercase;
    padding-left: .5rem;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.2rem;
}

.card-image {
    grid-column: span 4;
    grid-row: span 5;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-trivia {
    grid-column: span 4;
    font-size: .8rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: italic;
    padding: 0 0.5rem;
    border-top: 1px solid var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
}

.stat-icon {
    background-color: #DCDCCF;
}

.stat-icon img {
    max-width: 80%;
    max-height: 80%;
}